.birth_form_section {
    padding: 4em 0;


    .form_container {
        .form_head {
            text-align: center;
            margin-bottom: 1.5em;
        }

        .field_error {
            color: red;
            width: 100%;
            display: block;
        }
    }

    .genderOptions {
        display: flex;

        .form-check {
            margin-right: 1em;
        }
    }

}

.form__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .success__icon {
        svg {
            font-size: 4.5em;
            color: #199719;
            margin-bottom: 0.4em;
        }
    }
}