.certificate_preview_page {
    padding: 4em 0em;

    .certificate_preview_box {
        border: 4px solid #000;
        outline: 2px solid #000;
        outline-offset: 2px;
        padding: 2em;
        max-width: 1000px;
        margin: auto;

        .preview_head {
            display: flex;
            justify-content: center;

            img {
                width: 100px;
            }
        }

        .preview_head_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4 {
                text-transform: uppercase;
                margin-bottom: 0;
                text-align: center;
            }

            p {
                margin-bottom: 0;
            }
        }

        .preview_head_logos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .medical_and_health {
                img {
                    width: 100px;
                }
            }

            .birth_and_death {
                img {
                    width: 100px;
                }
            }
        }

        .main_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4 {
                text-decoration: underline;
                text-transform: uppercase;
            }

            h6 {
                text-align: center;
                font-size: 1.2em;
            }

            tr {
                td {
                    text-transform: capitalize;
                }
            }
        }

        .digital__approval {
            margin-top: 4em;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .certifiedBy {
                img {
                    width: 100px;
                }
            }
        }

        .note {
            margin-top: 1em;
            font-size: 14px;
        }
    }


    .print_btn {
        background-color: #29367C;
        border: none;
        border-radius: 3px;
        color: #fff;
        padding: 5px 25px;
    }
}